:root{
    font-size: 16px;
    --primary-bg-color: #17171f ; 
    --secondary-bg-color: #2a2a36 ;
    --tertiary-bg-color: #30303f ;
    --text-color: #f1f5f9 ;
    --secondary-text-color:#ffffff ;
    --accent-color: #e9872b ;
    --bright-accent-color: #fa9f4a ;
    --transition-speed: 600ms;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    font-family: 'Merriweather', serif;
}

.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--secondary-bg-color);
    transition: width 500ms ease;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item{
    width: 100%;
}

.nav-item:last-child{
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(1) brightness(0.8);
    transition: var(--transition-speed);
}

.nav-link:hover{
    filter:grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
    fill: var(--accent-color);
    transition: var(--transition-speed)
}

.navbar:hover{
    width: 16rem;
    transition: width 500ms ease;
}

.navbar:hover .link-text{
    display: block;
}

.header{
    display: flex;
    font-size: 1.7rem;
    gap: 0.5em;
    justify-content: center;
    align-items:flex-end ;
    padding-top: 3em;
}

.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    gap: 3em;
}

.agency-container{
    display: flex;
    gap: 1em;
}

select{
    width: 10em;
    background-color: #2a2a36;
    border-color: var(--accent-color);
    border-radius: 5px;
    border-width: 2px;
    color: var(--text-color);
    height: 28px;
}

.queue-container{
    border: 5px solid var(--accent-color);
    border-radius: 10px;
    display: flex;
    gap: 4em;
    align-items: center;
}

.user-container{
    text-align: center;
    margin-left: 3em;
}

.queue-title{
    font-size: 2em;
}

.queue{
    font-size: 2.5em;
    color: var(--accent-color);
}

.bank-container{
    text-align: center;
    margin-right: 3em;
}

.bank-queue-title{
    font-size: 2em;
}

.bank-queue{
    font-size: 2.5em;
    color: var(--accent-color);
}


#vertical-divisor{
    width: 5px;
    height: 14em;
    background-color: var(--accent-color);
    color: var(--accent-color);
}

#insertQueueUser{
    min-height: 4.5vh;
    width: 12vw;
    font-size: 1.45rem;
    border-radius: 10px;
    border: 3px solid var(--accent-color);
    background-color: var(--accent-color);
    color: var(--text-color);   
}



@media only screen and (max-width: 600px) {

    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }

    .agency-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .queue-container{
        gap: 1em;
        justify-content: center;
        height: 100px;
    }
    #vertical-divisor{
        height: 98px;
    }
    .user-container{
        margin-left: 1.5em;
    }

    .bank-container{
        margin-right: 1.5em;
    }

    .queue-title{
        font-size: 20px;
    }

    .bank-queue-title{
        font-size: 20px;
    }

    #insertQueueUser{
        font-size: 20px;
        width: 200px;
    }
  }

  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }

